// storybook-addon-grid configurations
:root {
  --sb-grid-columns: 12; // grid columns count
  --sb-grid-gap: 1.5rem; // grid gutter between columns
  --sb-grid-gutter: 1.25rem; // grid padding-horizontal
  --sb-grid-max-width: 100%;
}
