// storybook-addon-grid configurations
:root {
  --sb-grid-columns: 12; // grid columns count
  --sb-grid-gap: 1.5rem; // grid gutter between columns
  --sb-grid-gutter: 1.25rem; // grid padding-horizontal
  --sb-grid-max-width: 100%;
}

@include media-breakpoint-up(sm) {
  :root {
    --sb-grid-gutter: 1.25rem;
    --sb-grid-max-width: map-get($container-max-widths, sm);
  }
}

@include media-breakpoint-up(md) {
  :root {
    --sb-grid-gutter: 2.25rem;
    --sb-grid-max-width: map-get($container-max-widths, md);
  }
}

@include media-breakpoint-up(lg) {
  :root {
    --sb-grid-gutter: 3rem;
    --sb-grid-max-width: map-get($container-max-widths, lg);
  }
}

@include media-breakpoint-up(xl) {
  :root {
    --sb-grid-gutter: 4.5rem;
    --sb-grid-max-width: map-get($container-max-widths, xl);
  }
}

@include media-breakpoint-up(xxl) {
  :root {
    --sb-grid-gutter: 6rem;
    --sb-grid-max-width: map-get($container-max-widths, xxl);
  }
}
