node_modules/
.expo/
dist/
lib/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*-error.log

# macOS
.DS_Store

# tests
coverage/

# Storybook
storybook-static/
storybook.requires.js
